.home-hero-bg {
  background-image: url('./heroImage.png');
  background-size: cover;
  background-position: center;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
