.home-hero-bg {
  background-image: url('./heroImage.png');
  background-size: cover;
  background-position: center;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-bg {
  background-image: url('./assets/BackgroundWelcome.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.registeruser-bg {
  background-image: url('./assets/BackgroudUserRegister.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.loginuser-bg {
  background-image: url('./assets/BackgroundLogin.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.text-shadow-custom {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login-bg {
  background-color: white;
}
